<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncut.face.erp.service.file.repository.FileRepository">
    <insert id="insertFile">
        INSERT INTO erp_file (file_id, path)
        VALUES (#{id}, #{path})
    </insert>
</mapper>