<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncut.face.erp.service.mission.repository.MissionRepository">
    <insert id="addMission" parameterType="com.ncut.face.erp.service.mission.domain.MissionAddVo">
        INSERT INTO erp_mission (tenant_id, mission_topic, mission_content, start_time, end_time, publisher, recipient, create_time)
        VALUES (#{tenantId}, #{missionTopic}, #{missionContent}, #{startTime}, #{endTime}, #{pin}, #{recipient}, now())
    </insert>
    <select id="getMissionList" parameterType="com.ncut.face.erp.service.mission.domain.MissionOperate" resultType="com.ncut.face.erp.service.mission.domain.MissionModel">
        SELECT *
        FROM erp_mission
        WHERE tenant_id = #{tenantId}
          AND deleted = 0
        ORDER BY create_time DESC
        LIMIT #{pageRequest.offSet},#{pageRequest.pageSize}
    </select>
    <select id="getMissionById" parameterType="com.ncut.face.erp.service.mission.domain.MissionOperate" resultType="com.ncut.face.erp.service.mission.domain.MissionModel">
        SELECT *
        FROM erp_mission
        WHERE tenant_id = #{tenantId}
          AND id = #{id}
          AND deleted = 0
    </select>
    <update id="deleteMission" parameterType="com.ncut.face.erp.service.mission.domain.MissionOperate">
        UPDATE
            erp_mission
        SET deleted=1
        WHERE tenant_id = #{tenantId}
          AND id = #{id}
    </update>
    <update id="modifyMission" parameterType="com.ncut.face.erp.service.mission.domain.MissionModifyVo">
        UPDATE erp_mission
        SET
        <if test="missionTopic!=null and missionTopic!=''">mission_topic=#{missionTopic},</if>
        <if test="missionContent!=null and missionContent!=''">mission_content=#{missionContent},</if>
        <if test="startTime!=null and startTime!=''">start_time=#{startTime},</if>
        <if test="endTime!=null and endTime!=''">end_time=#{endTime},</if>
        <if test="finished!=null and finished!=''">finished=#{finished},finished_time=now(),</if>
        <if test="recipient!=null and recipient!=''">recipient=#{recipient},</if>
        modify_time=now(),
        modifier=#{pin}
        WHERE tenant_id = #{tenantId}
        AND id = #{id}
    </update>
</mapper>