<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncut.face.erp.service.user.repository.UserRepository">
    <select id="getAllTenantIdWithoutAdmin" resultType="java.lang.String">
        SELECT DISTINCT tenant_id
        FROM erp_user
        WHERE user_role = 'ADMIN'
    </select>
    <insert id="insertUser" parameterType="com.ncut.face.erp.service.user.domain.UserRegistryModel">
        INSERT INTO erp_user (tenant_id, user_name, password, user_role, face_id, create_time, face_feature)
        VALUES (#{tenantId}, #{userName}, #{password}, #{userRole}, #{faceId}, now(), #{faceFeature})
    </insert>
    <select id="getAllFeature" parameterType="java.lang.String" resultType="com.ncut.face.erp.service.user.domain.FaceIdModel">
        SELECT face_feature, face_id
        FROM erp_user
        <if test="tenantId!=null and tenantId !=''">
            WHERE tenant_id=#{tenantId}
        </if>
    </select>
    <select id="getInfoByFaceId" resultType="com.ncut.face.erp.service.user.domain.UserInfoModel">
        SELECT *
        FROM erp_user
        WHERE face_id = #{faceId}
    </select>
</mapper>